<?xml version="1.0" encoding="utf-8"?>
<config>
    <browser name = "Chrome">
        <user role = "admin">
            <login>administrator</login>
            <password>Password12+_</password>
            <test>TEst_34.1</test>
            <test>test_5.6</test>
        </user>
        <user role = "editor">
            <login>user1</login>
            <password>Password12+_</password>
            <test>test_0034.001</test>
        </user>
    </browser>
    <browser name = "Firefox">
        <user role = "admin">
            <login>administrator</login>
            <password>As122+_</password>
            <test>test_5.6</test>
            <test>test_5.6</test>
        </user>
        <user role = "editor">
            <login>user1</login>
            <password>As122+_</password>
            <test>test_5.6</test>
        </user>
    </browser>
    <browser name = "Edge">
        <user role = "admin">
            <login>administrator</login>
            <password>As122+_</password>
            <test>test_5.6</test>
        </user>
        <user role = "editor">
            <login>user1</login>
            <password>Aas122+_</password>
        </user>
    </browser>
    <browser name = "Safari">
        <user role = "admin">
            <login>administrator</login>
            <password>As122+_</password>
            <test>test_5.6</test>
            <test>test_5.6</test>
            <test>test_5.6</test>
        </user>
        <user role = "editor">
            <login>user1</login>
            <test>test_5.6</test>
            <password>As122+_</password>
        </user>
    </browser>
</config>